h1 {
    color: aqua;
}

p {
    color: red;
}

:root {
    --buttonred: #E20B1C;
    --fontcolor: #1D1D1B;
    --buttonwhite: white;
    --tablegray: #807C78;
    --formlightgray: #BFBAB3;
    --formdarkgray: #403E3C;
}

.text {
    font-family: Roboto Light; /*morgen checken wegen einbinden*/
    font-size: 16pt;
    color: var(--fontcolor);
}

.subHeadline {
    font-family: Roboto Light;
    font-size: 26pt;
    color: var(--fontcolor);
}

.headline {
    font-family: Roboto Regular;
    font-size: 36pt;
    color: var(--fontcolor);
}

.CTARed {
    border-color: var(--buttonred);
    background-color: none;
    border-radius: 1rem; /*morgen checken*/
    color: var(--fontcolor);
}

.CTARed:hover {
    border-color: var(--buttonred);
    background-color: var(--buttonred);
    border-radius: 1rem; /*morgen checken*/
    color: var(--buttonwhite);
    animation-duration: 0.5s;
}

table {
    border-collapse: collapse;
    width: 100%; /*muss dann beim Einbau angepasst werden*/
}

th, td {
    border-bottom: 1px solid var(--tablegray);
    text-align: left;
    padding: 8px;
}

.right {
    border-right: 1px solid var(--tablegray); /*bei jeder Zeile musst das beim linken als Klasse hinzugefügt werden für den Mittelstrich*/
}

form {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

input {
    margin-bottom: 2em;
    width: 300px;
    height: 30px;
    border-radius: 1rem;
    border-style: solid;
    border-color: var(--formlightgray);
    color: var(--formlightgray);
    padding-left: 1rem;

}
.CTAinput{
    border-color: var(--buttonred);
    background-color: none;
    border-radius: 1rem; /*morgen checken*/
    color: var(--fontcolor);
}

.CTAinput:hover {
    border-color: var(--buttonred);
    background-color: var(--buttonred);
    border-radius: 1rem; /*morgen checken*/
    color: var(--buttonwhite);
    animation-duration: 0.5s;
}
.CTAinput::-webkit-file-upload-button {
    visibility: hidden;
}
.CTAinput::before {
    content: 'Bitte wählen sie eine Tabelle';
}

input:focus {
    border-color: var(--formdarkgray);
    color: var(--formdarkgray);
}
#startImport{
    display: none;
}
